extends layout

block content
  .whole
    .divDataForAttach
      label Host
      input#optionsHost(type='text' value = '')
      br
      label Port
      input#optionsPort(type='text' value = '')
      br
      label.startDate start date      
      input#timeStampS(type='text' value = '')
      label.startDate start date
      br
      input#timeStampS(type='text' value = '')
      label.startDate start date
      br
      input#timeStampS(type='text' value = '')
      label.startDate start date
      br
      input#timeStampS(type='text' value = '')
      label.startDate start date
      br
      input#timeStampS(type='text' value = '')            

  link(rel='stylesheet', href='/css/style.css')
  // script(src='/js/work.js')