
block content
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/css/adminStyle.css')
  title ADMIN PAGE
  header
    h1 ADMIN PAGE
  .main
    .options      
      input#host(type='text', placeholder=' host', title='host', name='host')
      input#port(type='text', pattern = '^[ 0-9]+$', placeholder=' port', title='port', name='port')
      input#database(type='text', placeholder=' database', name='database', title='database')   
      input#user(type='text', placeholder=' admin', name='user', title='user')
      input#password(type='text', placeholder=' password', name='password', title='password')
    .newUser      
      input#newUser(type='text', placeholder=' new user name', name='newUser', title='newUser', checked)
      input#newUserPassword(type='text', placeholder=' new user password', name='newUserPassword', title='newUserPassword', checked)
      input#departmentsList(type='text', placeholder=' departments', name='departments', title='departments')
      .departmentsList
    button#addUser(disabled) ADD USER
    .delUser     
      input#delUser(type='text', placeholder=' del user', name='delUser', title='delUser')
    button#delUserB(disabled) DEL USER
  footer 
    p produced by roman.peredrii +380979170088
  .messager
  script(src='/js/admin.js' type= 'module')