extends layout

block content
  h1= title
  .whole
    .divDataForAttach
      label Host:
      input#optionsHost(type='text' value = '')
      br
      label Port:
      input#optionsPort(pattern = "^[ 0-9]+$", value = '')
      br
      label Path:
      input#optionsPath(type='text' value = '')
      br
      label User:
      input#optionsUser(type='text' value = '')
      br
      label Password:
      input#optionsPassword(type='text' value = '')
      br
      label Page Size:
      input#optionsPageSize(type='text' value = '')
      br
      label Role:
      input#optionsRole(type='text' value = '')

  link(rel='stylesheet', href='/css/adminStyle.css')
  script(src='/js/admin.js')