extends layout

block content
  .whole
    .divDataForAttach
      label Host:
      input#optionsHost(type='text' value = '')
      br
      label Port:
      input#optionsPort(type='text' value = '')
      br
      label Path
      input#timeStampS(type='text' value = '')
      br
      label User
      input#timeStampS(type='text' value = '')
      br
      label Password
      input#timeStampS(type='text' value = '')
      br
      label Page Size      
      input#timeStampS(type='text' value = '')
      br
      label Role      
      input#timeStampS(type='text' value = '')

  link(rel='stylesheet', href='/css/style.css')
  // script(src='/js/work.js')