extends layout

block content
  h1= title
  .whole
    .divDataForAttach
      label Host:
      input#optionsHost(type='text' value = 'localhost')
      br
      label Port:
      input#optionsPort(pattern = "^[ 0-9]+$", value = '3050')
      br
      label Path:
      input#optionsPath(type='text' value = 'D:/JS/vvv/COUNTER.FDB')
      br
      label User:
      input#optionsUser(type='text' value = 'SYSDBA')
      br
      label Password:
      input#optionsPassword(type='text' value = 'a2vvczib')
      br
      label Page Size:
      input#optionsPageSize(type='text' value = '4096')
      br
      label Role:
      input#optionsRole(type='text' value = 'ADMIN')
      br
      button#checkConnection CHECK
    .viewDb
      table#compositionDB 
          tbody
    .userData
      label Brand or Point:
      input#brandUserData(type='text' value = '')
      br
      label Address:
      input#adressUserData(pattern = 'text', value = '')
      br
      label User:
      input#userUserData(type='text' value = '')
      br
      label Password:
      input#passwordUserData(type='text' value = '')
      

  link(rel='stylesheet', href='/css/adminStyle.css')
  script(src='/js/admin.js')