extends layout

block content
  h1= title
  .whole
    .forOptions
      label Host:
      input.options#optionsHost(type='text' value = 'localhost')
      label Port:
      input.options#optionsPort(pattern = "^[ 0-9]+$", value = '3050')
      label Path:
      input.options#optionsPath(type='text' value = 'D:/JS/vvv/COUNTER.FDB')
      label User:
      input.options#optionsUser(type='text' value = 'SYSDBA')
      label Password:
      input.options#optionsPassword(type='text' value = 'a2vvczib')
      label Page Size:
      input.options#optionsPageSize(type='text' value = '4096')
      label Role:
      input.options#optionsRole(type='text' value = 'ADMIN')
      button#connect CONNECT
    .view
      .viewDb
        table#compositionDB 
          tbody
      .viewTable
        table#compositionTable 
          tbody
    .userData
      label Brand or Point:
      input#brandUserData(type='text' value = '')
      label Address:
      input#adressUserData(pattern = 'text', value = '')
      label User:
      input#userUserData(type='text' value = '')
      label Password:
      input#passwordUserData(type='text' value = '')
    .term
      textarea#textar  
      input#scriptInput(type="text", value = "SELECT RDB$FIELD_NAME FROM RDB$RELATION_FIELDS WHERE RDB$SYSTEM_FLAG = 0 AND RDB$RELATION_NAME = 'COUNTERDATA'")

  link(rel='stylesheet', href='/css/adminStyle.css')
  script(src='/js/admin.js')