extends layout

block content
  h1= title
  .whole
    .forOptions
      .forAdminGeneralOptions
        label Host:
        input.options#optionsHost(type='text', value='localhost', title='host')
        label Port:
        input.options#optionsPort(pattern = "^[ 0-9]+$", value = '3050', title='port')
        label Path:
        input.options#optionsPath(type='text,' value = 'D:/JS/vvv/COUNTER.FDB', title='database')
        label Page Size:
        input.options#optionsPageSize(type='text' value = '4096' title='pageSize' )
      .forAdminOptions
        label User:
        input.options#optionsUser(type='text' value = 'SYSDBA' title='user')
        label Password:
        input.options#optionsPassword(type='text' value = 'a2vvczib' title='password')
        label Role:
        input.options#optionsRole(type='text' value = 'ADMIN' title='role')
      button#connect CONNECT
    .view
      .viewDb
        table#compositionDB 
          tbody
      .viewTable
        table#compositionTable 
          tbody
    .userData
      .forNewUserGeneralOptions
        label Host:
        input.options#optionsHostNewUser(type='text' value = '')
        label Port:
        input.options#optionsPortNewUser(pattern = "^[ 0-9]+$", value = '')
        label Path:
        input.options#optionsPathNewUser(type='text' value = '')
        label Page Size:
        input.options#optionsPageSizeNewUser(type='text' value = '')
      .forNewUserOptions
        label User:
        input.options#optionsUserNewUser(type='text' value = '')
        label Password:
        input.options#optionsPasswordNewUser(type='text' value = '')
        label Role:
        input.options#optionsRoleNewUser(type='text' value = '')
      .forPoint
        label Brand or Point:
        input#brandUserData(type='text' value = '')
        label Address:
        input#addressUserData(type = 'text', value = '')
      button#addUser ADDUSER
    

  link(rel='stylesheet', href='/css/adminStyle.css')
  script(src='/js/admin.js')