extends layout

block content
  .startform
    h1= title
    form.form-inline
      //- label.sr-only(for='inlineFormInput') Name
      input#inlineFormInput.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='Login')
      //- label.sr-only(for='inlineFormInputGroup') Username
      //-.input-group.mb-2.mr-sm-2.mb-sm-0
        .input-group-addon 
      input#inlineFormInputGroup.form-control(type='password', placeholder='Password')
      //-.form-check.mb-2.mr-sm-2.mb-sm-0
      //-  label.form-check-label
      //-   input.form-check-input(type='checkbox')
      //-   |  Remember me
      button#submitButton.btn.btn-primary(type='submit') Submit

  script(src='/js/start.js')
  script(src='/js/index.js')
