doctype html

html
  head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='/css/index.css')
  title START PAGE
  body
    .main
      .startform
        h1= title
        form.form-inline
          input(type='text', name='userName', placeholder='Login', checked)
          input(type='password', name='pswd', placeholder='Password', value='clv8bzg1', checked)
          button#submitButton(type='submit') Submit
          p various crap such as legal information or other rubbish which you have to 
           input#accept.accept(type='checkbox', name='accept', checked) 
           label(for='accept') accept
    footer produced by roman.peredrii
    //- footer produced by group "НАШИ РУКИ НЕ ДЛЯ СКУКИ" consisting of me and set of my psychological disorders
    script(src='/js/start.js' type= 'module')


