doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
  body
    block content

    script(src='/libs/tether/dist/js/tether.min.js')
    script(src='/libs/jquery.js')
    script(src='/libs/moment.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
