extends layout

block content
  .whole
    .left
      .counters
      .period
        label.choosePeriod CHOOSE PERIOD
        .forDateChoise 
          .divStart
            label.date start date
            br
            input.timeStamp#timeStampS(type='date' value = '' checked=true name='startDate')
          .divFinish 
            label.date finish date
            br
            input.timeStamp#timeStampF(type='date' value = '' checked=true name='finishDate')
        br
      .dinamic
        div#periodSet
      .divSendReq
        button#pie(value = 'pie')
        button#bar(value = 'bar')
        button#line(value = 'line')
        //- button#sendReq REQUEST
      br
      .dataFromDB 
        table#dataFromDB 
          tbody
    .right
      .guide 
        p GUIDE
          ol 
            li choose period by set start and finish dates
            br
            li set interval of display data from DB
            br
            li push "REQUEST" button for get data from DB
      .canv
        canvas#chartFromDB
      //- .typeOfChart
      //-     button#pie(value = 'pie')
      //-     button#bar(value = 'bar')
      //-     button#line(value = 'line')

  link(rel='stylesheet', href='/css/workStyle.css')
  script(src='/libs/ChartBundle.js')
  script(src='/js/work.js' type= 'module')