block content
  title WORK PAGE
  .whole
    .left
      p CHOOSE DEPARTMENTS
      .counters 
      .periodSetting CHOOSE PERIOD
        p start date
        input#timeStampS(type='date' value = '' checked=true name='startDate')
        p finish date
        input#timeStampF(type='date' value = '' checked=true name='finishDate')
      .intervalSetting
      .sendRequest
        button#pie(value = 'pie')
        button#bar(value = 'bar')
        button#line(value = 'line')
      br
      .table
        table#data
          tbody
    .right
      .guide 
        p GUIDE
          ol 
            li choose departments
            br
            li choose period by set start and finish dates
            br
            li set interval of display data from DB
            br
            li push button according to required type of cart
      .canv
        canvas#chartFromDB
  .preloader
  .substrate
  link(rel='stylesheet', href='/css/workStyle.css')
  script(src='/libs/ChartBundle.js')
  script(src='/js/work.js' type= 'module')