extends layout

block content
  h1= title
  .whole
    .left
      .period
        label.choosePeriod choose period
        .forDateChoise
          .divStart
            label.startDate start date
            br
            input#timeStampS(type='date' value = '2018-07-31')
          .divFinish 
            label.finishDate finish date
            br
            input#timeStampF(type='date' value = '2018-08-01')
        br
      .dinamic
        div#periodSet
        .divSendReq
          button#sendReq REQUEST
      br
      .dataFromDB  
        table#dataFromDB 
          tbody
    .right
      .canv
        canvas#chartFromDB
      .typeOfChart
          button#pie(value = 'pie')
          button#bar(value = 'bar')
          button#line(value = 'line')

  link(rel='stylesheet', href='/css/workStyle.css')
  script(src='/js/work.js')