extends layout

block content
  p
  label.choosePeriod choose period
  table.forDateChoise
    tbody
    tr
      td 
        label.startDate start date
        br 
        input#timeStampS(type='date' value = '2018-07-31')
      td 
        label.finishDate finish date
        br
        input#timeStampF(type='date' value = '2018-08-01')
  div#periodSet
  div.divSendReq
    p
      button#sendReq REQUEST
  br
  .dataFromDB  
    table#dataFromDB 
      tbody


  link(rel='stylesheet', href='/css/style.css')
  script(src='/js/work.js')