body {
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    overflow-y: auto;
    font: 1.2em bold Helvetica, Arial, sans-serif;
    color: #757575
}

h1 {
    text-align: center;
    font: 40px bold Helvetica, Arial, sans-serif;
    color: #757575
}

.main {
    display: flex;
    margin: auto;
    flex-grow: 1;
    padding: 0;
    width: 400px;
    align-self: flex-start;
    flex-flow: column wrap;
}

.options {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.role,
.departmentsList {
    overflow-x: hidden;
    width: 100%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border: 0.1em solid #dadada;
    border-radius: 0.2em;
    font: 1.2em Helvetica, Arial, sans-serif;
    color: #757575
}

table {
    width: 500px;
    border: 0.1em;
}

table tr:hover {
    position: relative;
    width: 500px;
    background-color: #d5d5d5;
    font: 1em Helvetica, Arial, sans-serif;
    color: #000000
}

table tr {
    border: 0.05em solid transparent;
    border-radius: 0.2em;
}

input {
    width: 100%;
    margin: 0.1em;
    padding: 0.1em;
    border: 0.1em solid #dadada;
    border-radius: 0.2em;
    font: 1.2em Helvetica, Arial, sans-serif;
}

button {
    background-color: #0275d8;
    border-color: #0275d8;
    font-weight: normal;
    line-height: 1.25em;
    color: #fff;
    width: 100%;
    margin: 0.1em;
    padding: 0.1em;
    white-space: nowrap;
    border: 0.05em solid transparent;
    font-size: 1.2em;
    border-radius: 0.2em;
}

button:disabled {
    background-color: #9cc1e273;
    border-color: #0275d8;
    font-weight: normal;
    line-height: 1.25em;
    color: #fff;
    width: 100%;
    margin: 0.1em;
    padding: 0.1em;
    white-space: nowrap;
    border: 0.1em solid transparent;
    font-size: 1.2em;
    border-radius: 0.2em;
}

footer {
    width: 400px;
    margin: auto;
    padding: 0;
    flex-grow: 0;
    background-color: #1a181854;
    color: #ffffff;
    border-radius: 0.2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    align-items: center;
    font: 1.2em bold Helvetica, Arial, sans-serif;
}

footer p {
    align-items: center;
    text-align: center;
    font: 1em bold Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
}

::-webkit-calendar-picker-indicator {
    background: inherit;
    color: #2e2e2e;
}


/* 

.userData, 
.forPoint, 
.forOptions, 
.forAdminGeneralOptions,
.forAdminOptions,
.forNewUserOptions, 
.forNewUserGeneralOptions {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  outline: none;
  text-align: left;
  margin:0.5em;
  padding: 0.5em;
  color:#2d2d2d;
  width: calc(100%-6em); 
  height:auto;
  border:1px solid #999;
  border-radius: 0.5em;
  background:#fff;
 }

input {
  padding: 0.1em;
  border:1px solid #dadada;
  border-radius: 0.2em;
}

label {
  padding: 0;
  margin: 0.1em;
}

#connect {
  margin: 0.5em, 0;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.forOptions {
  display: none
}

.viewDB {
}

.viewHead {
  height: auto;
  width: 80%;
  margin-top: -3px;
  border: 1px solid #999999;
  border-bottom: 0;
  border-top-right-radius: 0.5em;
  text-align: left;  
  margin-left: 0.14em; 
  display: none;
  }

.viewTable {
  width: 80%;
  height: 30em;
  text-align: center;
  display: none;
  border: solid 2px;
  padding-left: 1em;
  margin-left: 0.14em; 
  border:1px solid #999999;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-top: 0;
  overflow: hidden;  
  overflow-y: auto;
  } 

  .dSlider {
    z-index: 12;
    display: none;
    flex-direction: row;
    width: 50%;
    border: 0;
  }

  #compositionDB td {
  width: 100%;
  background: #f1eded;
  border-collapse:separate; 
  border-radius: 0.2em 0.2em 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0; 
  -khtml-border-radius: 10px 10px 0 0; 
  border: 1px solid #999999; 
  padding: 0.5em;
  
}

#compositionDB {
  position: relative;
  z-index: 5;
  border-collapse: separate;
  border-bottom: 0;
}​



 
 #compositionTable {
  font-size: 12px;
  text-align: center;
  width: 80%;
  font-size: 12px;
  color: #000000;
  overflow-y: auto;  
}  

#compositionTable tbody tr td:nth-child(2) {
  text-align: left;
}  

 button {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 0.25rem;
}
 



tbody tr {
  font-weight: normal;
  background-color: #ffffff;
  }
tr th {
  text-align: center;
}
#compositionTable tbody tr:hover {
  background-color: #e0e0e0;
}

td {
  padding: 9px 10px;
  border-left: #d7d7d7 1px solid;
  border-top: #d7d7d7 1px solid;
  border-bottom: #d7d7d7 1px solid;
  line-height: 20px;
}

tr td:first-child, tr th:first-child {
  border-left:0;
}



::-webkit-scrollbar, 
::-moz-scrollbar {
  position: relative;
  z-index: 0;
  width: 3px;
}
::-webkit-scrollbar-track, 
::-moz-scrollbar-track {
    background: #ffffff; 
  }
::-webkit-scrollbar-thumb, 
::-moz-scrollbar-thumb {
    background: #888888; 
    border-radius: 3px;
  }
::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover {
    background: #2e2e2e; 
  }
.options {
  outline: none;
  flex-grow: 2; 
}

input:focus{
    background-color:#fafabf;
}


#compositionDB tbody tr :hover {
  font-size:15px;
  background-color: #e0e0e0;
  font-weight: bold;
}

#compositionHeadTable tr th {
  font-size: 12px;
  color: #000000;
  border-left: #d7d7d7 1px solid;
  border-bottom: #d7d7d7 1px solid;
  padding: 9px 10px;
  
}
#compositionHeadTable tr :first-child{
  border-left: 0;
}

#compositionHeadTable {
  margin-left: 1em;
}

.userData {


  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  outline: none;
  text-align: left;
  margin:0.5em;
  padding: 0.5em;
  color:#2d2d2d;
  width: calc(100%-6em); 
  height:auto;
  border:1px solid #999;
  border-radius: 0.5em;
  background:#fff;
 }

 .compositionTableMenu {
   display: none;
   z-index: 10;

 }

 footer {
  height: auto;
  width: auto;
  flex: 0 0 auto;
  background-color: #1a181854;
  color: #ffffff; 
  border-radius: 0.25em;
  text-align: center;
  padding: 0.5em;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
}  */