body {
  margin: 1%;  
  padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  h1 {
    display: none;
    text-align: center;
  }
  
  .whole {    
    display: flex;
  }
  
  .right {
  
    width: 80%;
  }
  
  
  .left {
    width: 20%;
  }
  
  .dinamic {
    display: flex;
  }
  
  .divSendReq {
    margin: 1em;
    position: relative;
    display: none;
  }

  canvas {
    display: block;
  }
  input:focus
  {
    background-color:#fafabf;
  }
  
  #periodSet{
    display: inline-block;
  }
  
  .dataFromDB {
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
    width: fit-content;
    max-height : 65vh;
    font-size: 12px;
    color: #000000;
    overflow-y: auto;  
    }
  tbody tr {
    font-weight: normal;
    background-color: #ffffff;
    }
  tbody tr:nth-child(even) {
    background-color: #f3f3f3;
    }
  tbody tr:hover {
    background-color: #e0e0e0;
    }
  td {
    padding: 9px 10px;
    border-left: #d7d7d7 1px solid;
    border-top: #d7d7d7 1px solid;
    border-bottom: #d7d7d7 1px solid;
    line-height: 20px;
    }
  tr td:first-child {
    border-left:0;
    }
  ::-webkit-scrollbar {
    width: 3px;
    }
  ::-webkit-scrollbar-track {
      background: #ffffff; 
    }
  ::-webkit-scrollbar-thumb {
      background: #888888; 
      border-radius: 3px;
    }
  ::-webkit-scrollbar-thumb:hover {
      background: #2e2e2e; 
    }
  #pie {
    outline: none;
    margin: 1em;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    background-image: url('../img/pie-slice-icon-12.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2em, 2em;
    }
  #bar {
    outline: none;
    margin: 1em;
    width: 3em;
      height: 3em;
    border-radius: 0.5em;
    background-image: url('../img/bar-graph-icon-11.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2em, 2em;
    }
  #line {
    outline: none;
    margin: 1em;
    width: 3em;
    height: 3em;
    border-radius: 0.5em;
    background-image: url('../img/line-graph-icon-13.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2em, 2em;
    }
    .typeOfChart {
    display: none;
    text-align: center;
    }
  